In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame(columns=['Nombre','Edad'])

In [4]:
S=['Carlos','Blanca','David']
S2=['24','29','23']

In [5]:
df['Nombre']=S
df['Edad']=S2

In [6]:
df

   Nombre Edad
0  Carlos   24
1  Blanca   29
2   David   23

In [7]:
S=pd.Series(S)

In [40]:
writer = pd.ExcelWriter('Ejemplo.xlsx', engine='xlsxwriter')

In [41]:
df.to_excel(writer, sheet_name='Frame completo', index=False)

In [42]:
S.to_excel(writer, sheet_name='Solo nombres', index=False)

In [43]:
writer.save()